$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss";

edit-image {
    img {
        max-width: 100%;
    }
}

.jcrop-keymgr {
    display: none !important;
}

.img-thumbnail {
    width: 100%;
    vertical-align: baseline;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 8px;
}

.backgr-section {
    /*background: url(http://kinogo.net/templates/kinogo/backgrounds/IronMan3.jpg) 50% 0 no-repeat #000;*/
}

body {
    background: #20B2AA;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: rgba(219, 34, 34, 0.75); /*rgba(237, 7, 7, 0.66) #F25952*/
    font-size: 38px;
    font-weight: bolder;
}

.addTitle {
    display: block;
    float: left;
}

.addDescr {
    clear: both;
    display: block;
    /*float: left;*/
    vertical-align: baseline;
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: text-bottom;
    height: 44px;
}

input, textarea {
    background: #FFDAB9;
}

.ng-pristine {
    /*height: 35px;*/
    width: 100%;
}

.maps {
    width: 100%;
}

.on-main {
    font-size: 18px;
    color: #ff6a00;
    font-family: 'Lobster', cursive;
    display: inline-block;
    padding: 5px 5px 0 5px;
}

.another-color {
    color: whitesmoke;
}

.another-color:hover {
    color: whitesmoke;
}

.another-one {
    width: 100%;
}

td, th {
    padding: 7px;
}

.ng-binding a {
    padding-right: 5px;
}

.ng-binding {
    color: darkgreen;
}

.col-md-4 {
    position: relative;
}

.tait {
    color: darkorange;
    font-family: 'Lobster', cursive;
    font-size: 17px;
    padding-left: 7px;
}

hr {
    margin-top: 40px;
}

.btn-success {
    border: none !important;
    background: #BD4E40;
    color: yellow;
}

.btn-success:hover {
    background: #DA509F;
    border: none !important;
    color: rgba(34, 94, 218, 0.66);
}

.up-info {
    text-align: center;
}

.wrap-button {
    margin-top: 16px;
}

.main-link {
    /*display: block;*/
    padding-left: 7px;
    color: #CD5C5C;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    -moz-box-shadow: 3px 4px 9px;
    -webkit-box-shadow: 3px 4px 9px;
    box-shadow: 3px 4px 9px;
}

.someClass.dropbox {
    background-color: #FFB6C1;
}

.but-onmain {
    background-color: #F25952;
}

.link-onmain {
    background-color: #F0E68C;
}


.alert-warning {
    margin-top: 25px;
}

h2.ng-binding {
    font-size: 16px;
    margin-left: 8px;
    color: #759;
    position: absolute;
    bottom: 53px;
    background: rgba(255,255,255,0.5);
    padding: 10px 0;
    width: 78%;
}

.cart-in {
    margin-bottom: 30px;
}

.adding {
    height: 34px;
}

.cart {
    width: 40px;
    height: 30px;
}

.public_cart {
    margin: 25px 46%;
    padding-top: 5px;
}

.fa.form-control-feedback {
    line-height: 34px; /* @input-height-base; */
}

.input-sm ~ .fa.form-control-feedback {
    line-height: 30px; /* @input-height-base; */
}

.input-lg ~ .fa.form-control-feedback {
    line-height: 46px; /* @input-height-base; */
}

.has-feedback-left input.form-control {
    padding-left: 34px; /* @input-height-base; */
    padding-right: 12px; /* @padding-base-horizontal */
}

.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px; /* @grid-gutter-width / 2 */
}

.has-feedback-left input.input-sm {
    padding-left: 30px;
    @input-height-small;
}

.has-feedback-left input.input-lg {
    padding-left: 46px;
    @input-height-large;
}

.info_about {
    text-align: center;
    color: rgba(13, 34, 78, 0.75);
    font-size: 17px;
    font-weight: bolder;
    display: block;
    background: rgba(32, 178, 170, 1);
    height: 60px;
    overflow: hidden;
}

.wrapper {
    height: 600px;
    background: rgba(245, 245, 245, 0.68);
}

.public_desc {
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    padding-top: 12px;
    font-family: 'Lora', serif;
    overflow: hidden;
    height: 100px;
    color: firebrick;
    font-size: 16px;
}

.wrapper:hover {
    -webkit-box-shadow: 0 0 8px 0 rgba(255,88,87,0.75);
    -moz-box-shadow: 0 0 8px 0 rgba(255,88,87,0.75);
    box-shadow: 0 0 8px 0 rgba(255,88,87,0.75);
    border: 2px solid #ff9557;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.modal-title {
    text-align: center;
    color: #CD5C5C;
    font-family: 'Lobster', cursive;
    font-size: 18px;

    .thankfull {
        color: #ff6a00;
    }

    .glyphicon-thumbs-up {
        color: #20B2AA;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}
/*.need-marg{
    padding-bottom:10px;

}*/
