﻿<accordion close-others="">
    <accordion-group heading="#{{item.id}} - tel: {{item.phone}}" ng-repeat="item in orders">
       Country-{{item.address.country}}
        City-{{item.address.city}}
        Address-{{item.address.address}}
        Postcode-{{item.address.postcode}}
        <table>
            <tr ng-repeat="film in item.filmsProjection">
                <td> {{film.film.title}}</td>
                <td>{{film.count}}</td>
                <td>{{film.film.price}}$</td>
                <td>{{film.count * film.film.price}}</td>
            </tr>
        </table> 
    </accordion-group>
</accordion>
<!--    //////////////////////////////
<accordion-group heading="">
        
    </accordion-group>-->

