﻿﻿<div class="modal fade"> <!--data-backdrop="static"-->><!--data-backdrop="static"-не дозволяэ закривати выкно при клыку на сырый областы-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><!--ng-click="close()"-->
                <h4 class="modal-title">Edit Image</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{dataUrl}}" id="edit-img" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <!--ng-click="close()"-->
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>
