﻿<container>
    <a class="main-link" href="#/film/new">Add new film</a>
    <hr />
    <table style="width: 100%" border="1">
        <thead>
            <tr>
                <th>
                    <button ng-click="changeSort()">
                        <span ng-if="inverse">Ascending</span>
                        <span ng-if="!inverse">Descending</span>
                    </button>
                    Search terms:
                    <input ng-model="search" />
                </th>
                <th colspan="2">
                    Actions:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="film in films |orderBy:'title':inverse |filter:search">
                <td>{{film.title}}</td>
                <td>
                    <a class="link-onmain" href='#/film/{{film.id}}'>Edit</a>
                    <div ng-bind-html="film.description"></div>

                </td>
                <td>
                    <button class="but-onmain" ng-click="remove(film)">Remove</button>
                </td>
            </tr>

        </tbody>

    </table>
    <pagination total-items="filter.total" items-per-page="filter.size" ng-model="filter.page" ng-change="pageChanged()"></pagination>
</container>