﻿<h1 ng-if="id">Edit Film - "{{film.title}}"</h1>
<h1 ng-if="id==undefined">Add Film </h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 pull-right">
            <div class="addTitle"></div>
            <span class="tait">Title</span>
            <input ng-model="film.title" />
            <input ng-model="film.alias" />
            <input ng-model="film.premiere" />
            <div class="addDescr"></div>
            <span class="tait"> Description</span>
            <textarea id="tinymce" ui-tinymce ng-model="film.description"></textarea>
            <div class="addDescr"></div>
            <span class="tait">Year</span>
            <textarea ng-model="film.year"></textarea>
        </div>
        <div class="col-md-6 pull-left">

            <!--   =={{film.poster.id}}==-->
            <img ng-show="film.poster.url" class="img-thumbnail" ng-src='/api/file/{{film.poster.url}}' />
            <choise-file type="poster" ng-hide="film.poster.url" file-result="film.poster"></choise-file>
            <hr />
            <img class="img-thumbnail" ng-show="film.fullImage.url" ng-src='/api/file/{{film.fullImage.url}}' />
            <choise-file type="fullImage" ng-hide="film.fullImage.url" file-result="film.fullImage">Full image</choise-file>
            <!--<a href=""></a>-->
        </div>
        <hr />
        <div class="col-md-12">
            <button class="btn btn-primary"><a class="need-marg another-color" href="#/films">Cancel</a></button>
            <button class="btn btn-primary need-marg" ng-click="save()" ng-if="id">Save</button>
            <button class="btn btn-primary" ng-if="id==undefined" ng-click="addNew()">ADD</button>
        </div>
    </div>
</div>
<!--  <tags-input ng-model="film.genres" display-property="name"
                placeholder class="another-one" =" Add a movies tags "
                replace-spaces-with-dashes="false">
        <auto-complete source="loadGenres($query)"
                       min-length="0"
                       debounce-delay="0"
                       max-results="10">
        </auto-complete>
    </tags-input>-->
<!--<p><button type="submit" class="link btn btn-primary"><span>Cancel</span></button></p>
        <p><a href="#/films"></a></p>-->
