<div class="progress">
    <div class="progress-bar progress-bar-success active" role="progressbar" style="width:{{progress}}%">
        <span class="sr-only">{{progress}}% Complete</span>
    </div>
</div>
<button ng-click='cancel()' class="btn btn-warning">Cancel upload</button>
<button ng-click='upload()' class="btn btn-success">Upload</button>