﻿<div ng-controller="UserController">
    <!-- 
    <modal title="Login form" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" ng-model="user.login" placeholder="Enter " />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="user.password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>
</div>-->

    <div class="modal fade" id="auth-window" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="text" class="form-control" ng-model="user.login" placeholder="Login" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" ng-model="user.password" placeholder="Password" />
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->
