﻿<button ng-click="openCart()" class="public_cart btn btn-warning">Order cart - {{count}}<br /><span class="glyphicon glyphicon-shopping-cart"></span></button>

<div class="modal fade" id="cart-window">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Shopping Cart</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="success">
                                <th></th>
                                <th>Title</th>
                                <th>Count</th>
                                <th>Price</th>
                                <th>Total</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active" ng-repeat="item in PublicOrder.films track by $index" ng-if="item.count > 0" >  
                                <td> <img ng-src="/api/thumbnails/{{item.film.poster.url}}"></td>                     
                                <td>{{item.film.title}}</td><!--<p><img class="image" style="width:75px; height:125px" ng-src="/api/file/{{item.film.poster.url}}" /></p><img class="image" style="width:75px; height:125px" ng-src="/api/file/{{item.film.poster.url}}" />-->
                                <td>{{item.count}}</td>
                                <td>{{item.film.price}}$</td>
                                <td>{{item.count * item.film.price}}</td>
                            </tr>
                            <tr class="success">                                
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th class="danger">Total Price - {{PublicOrder.films|totalPrice}}$</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-danger" data-dismiss="modal">Close</div>
                <button ng-click="completeOrder()" class="btn btn-warning" data-dismiss="modal">Order</button>
            </div>
        </div>
    </div>
</div>