﻿<div class="backgr-section">
    <div class="container">
        <row>
            <!--<div class="row wraper-img">-->
            <div ng-repeat="film in films" class="col-md-3">
                <!--<h1>{{film.title +" ("+film.duration+"min.)"}}</h1>-->
                <!--<h2>{{film.title}}
                     ({{film.duration}}min.)
                     ({{film.rating.value}}/10)</h2>-->
                <p class="info_about">"{{film.title}}"</p>
                <div class="wrapper">
                    <img class="img-thumbnail" ng-src="/api/file/{{film.poster.url}}" />
                    <div class="public_desc">
                        Description: "<div ng-bind-html="film.description"></div>
                        "
                    </div>
                    <div>Duration: {{film.duration}}min</div>
                    <!--<p>Rating: ({{ film.rating.value }}/10)</p>-->
                    <p>Year: {{film.year}}</p>
                    <p>Price: {{film.price}}$</p>
                </div>
                <!--<p class="info_about">ADD to Cart "{{film.cart}}"</p>-->
                <!--<p>Users: {{film.rating.users}}</p>-->
                <div class="input-group cart-in form-group has-feedback-left">
                    <input min='1' ng-model="count" ng-init="count=1" type="number" class="form-control">
                    <span class="glyphicon glyphicon-shopping-cart form-control-feedback"></span>
                    <span class="input-group-btn">
                        <button ng-click="addToCart(film,count)" class="btn btn-default adding" type="button">Add to Cart</button>
                    </span>

                </div>
        </row>
    </div>
<!--</div>-->
    <footer>
    <container>
        <row>
            <div class="col-md-4"><pagination total-items="filter.total" items-per-page="filter.size" ng-model="filter.page" ng-change="pageChanged()"></pagination>
                </div>

        </row>
    </container>
</footer>



