﻿<!--  <header class="container-fluid">
        <div class="row">
            <!--<div class="logo">
            <img src="http://livedemo00.template-help.com/drupal_52355/sites/all/themes/theme938/logo.png"></div>-->
<!-- <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    Indicators
    <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" ng-repeat="film in films" class="{{$index==0? 'active':''}}"></li>
    </ol>
   Wrapper for slides
    <div class="carousel-inner"> -->
<!--ng-repeat="film in films" class="item{{$index==0? 'active':''}}">
    <div ng-repeat="film in films" class="item {{$index==0? 'active':''}}">
        <img ng-src="{{fullimage}}" alt="photograph">
    </div>
</div>-->
<!-- Controls --
                    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                        <span>
                            <i class="fa fa-chevron-left"></i>
                        </span>
                    </a>
                    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                        <span>
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </header>

\\-->
<header class="container-fluid">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" ng-repeat="film in films" class="{{$index==0? 'active':''}}"></li>
               
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div ng-repeat="film in films" class="item {{$index==0? 'active':''}}">
                    <img ng-src="{{fill.fullImage}}" alt="photograph">
                      <div class="carousel-caption">
                          {{film in films}}
                      </div>
                     </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>