﻿<header>
    <nav class="row navbar">
        <div class="navbar-header">
            Menu
        </div>
        <div class="navbar-collapse">
            <div class="col-md-2 btn btn-dark">HOME</div>
            <div class="col-md-2 btn btn-danger">ABOUT</div>
            <div class="col-md-2 btn btn-warning">PORTFOLIO</div>
            <div class="col-md-2 btn btn-successs">STORE</div>
            <div class="col-md-2 btn btn-second">BLOG</div>
            <div class="col-md-2 btn btn-primary">CONTACTS</div>
        </div>

    </nav>
</header>