﻿<div class="container">
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Write your e-mail" aria-describedby="basic-addon1">
    </div>

    <div class="form-group">
        <div class="input-group maps">
            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
            <input class="maps" ng-hide="PublicOrder.address" ng-model="userPlace" g-places-autocomplete ng-model="userPlace" />
            <div ng-show="userPlace">
                <input placeholder="Address" ng-model="PublicOrder.address.address" />
                <input placeholder="Country" ng-model="PublicOrder.address.country" />
                <input placeholder="City" ng-model="PublicOrder.address.city" />
                <input placeholder="PostCode" ng-model="PublicOrder.address.postCode" />
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="success">
                <th></th>
                <th>Title</th>
                <th>Count</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active" ng-repeat="item in PublicOrder.films track by $index" ng-if="item.count > 0">
                <td>
                    <img ng-src="/api/thumbnails/{{item.film.poster.url}}"></td>
                <!--{{item.films.poster.url}}-->
                <td>{{item.film.title}}</td>
                <td>{{item.count}}</td>
                <td>{{item.film.price}}</td>
                <td>{{item.count * item.film.price}}</td>

            </tr>
            <tr class="success">
                <td></td>               
                <td></td>
                <td></td>
                <td></td>
                <th>Total Price - {{PublicOrder.films|totalPrice}}$</th>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" ng-click="confirmOrder()">Confirm your order</button>
    
    <div class="modal fade" id="order-completed">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Congratulation!<br />Your order is accepted and sent for consideration!<p>The number of order is-№{{orderId}}.</p><span class="glyphicon glyphicon-thumbs-up"></span><br /><a class="thankfull">Thank you for using our service! </a></h4>
                </div>
            </div>
        </div>

    </div>
    <!--    <tbody> <tr>
            <button ng-click="edit">{{item.film.count}}Edit</button>
            <div ng-bind-html="item.count"></div>

            </td>
            <td><button class="btn btn-success" ng-click="remove(order)">Cancel</button></td>
        </tr>

    </tbody>
    <button class="btn btn-warning" ng-click="">Order</button>-->

    <!--    <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Phone  <span class="glyphicon glyphicon-earphone"></span></label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Adress  <span class="glyphicon glyphicon-magnet"></span></label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Adress">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form>-->
