﻿<!DOCTYPE html>
<html data-ng-app="App">
<head>
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/App.js"></script>
    <script src="js/Directives.js"></script>
</head>
<body>
<!--    <div my-first-direct></div>
    <my-first-direct></my-first-direct>
    <my:first:direct></my:first:direct>
    <div class="my-first-direct"></div> 

    -->
    <div ng-controller="TestController">
        <input ng-model="data" />
        <!--  <my-first-direct my-data="data"></my-first-direct> -->
        <my_first_direct data2="{{data}}" my-data="data"></my_first_direct>
    </div>
        <!--<my-first-direct></my-first-direct>-->
        <!--<div class="up-buttons">
            <div ng-file-select="" ng-model="files" class="upload-button" ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles" tabindex="0">Attach an Image or PDF</div><br>
            <button ng-file-select="" ng-model="files" ng-multiple="true">Attach Any File</button>
        </div>-->
   
</body>
</html>
