﻿<!DOCTYPE html>
<html data-ng-app="App" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/App.js"></script>
</head>
<body>
<input  ng-model="message">
    {{message}} <!--всередині інфа що потрібно обрахувати-->
    <div ng-controller="TestController">
        <!--{{message}}
        {{5+8}} 
        <input ng-model="newTitle" />
        <button ng-click="addNew()">Add</button>
        <ul ng-repeat="title in titles track by $index">
            <li>{{title}}</li>
            <button ng-click="remove($index)">X</button>
        </ul> <!--repeat-як в циклі for пробігтися по всім -->
       <!-- <div ></div>-->
        
     <!--   <div>{{string|uppercase}}</div>
        <div>{{string|lowercase}}</div>
        <div>{{current|currency:'grn':0}}</div>
        <div>{{current|number:4}}</div>
        <pre>{{name|json:4}}</pre>
       <div>{{some|limitTo:5}}</div>-->
        <input  ng-model="message"/>
        {{message}}
<!--        <ul>
            <li ng-repeat="item in list|filter:message">
                <h3>{{item.name}}</h3>
                <h3>{{item.surname}}</h3>
                <h3>{{item.birthday}}</h3>
                <hr/>
            </li>
        </ul>--><!--все в одному li-->
           <ul>
            <li ng-repeat="item in list|orderBy:'surname'">
                <h3>{{item.name}}</h3>
                <h3>{{item.surname}}</h3>
                <h3>{{item.birthday}}</h3>
                <hr/>
            </li><!--все в одному li-->
        </ul>
        <div>{{item|uppercase|limitTo:2}}</div>
       
    </div>   
 <!--   <input value="{{message}}" />-->
<!--    <input ng-model="num1" />
    <input ng-model="num2" />
    {{num1*1+num2*1}}-->

</body>
</html>
