﻿<!DOCTYPE html>
<html data-ng-app="App" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="style/Scss.css" rel="stylesheet" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/App.js"></script>
    <script src="js/controllers/AboutCtrl.js"></script>
    <script src="js/controllers/ContactCtrl.js"></script>
    <script src="js/controllers/CatalogueCtrl.js"></script>
    <script src="js/controllers/FilmController.js"></script>
    <script src="js/controllers/PopularsController.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
</head>
<body>
    <div ng-controller="PopularsController">
        <!--<header class="container-fluid">
            <div class="row">
                <!--<div class="logo">
                <img src="http://livedemo00.template-help.com/drupal_52355/sites/all/themes/theme938/logo.png"></div>-->
                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators 
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-generic" data-slide-to="0" ng-repeat="film in films" class="{{$index==0? 'active':''}}"></li>
                    </ol>
                    <!-- Wrapper for slides
                    <div class="carousel-inner">
                        <!--ng-repeat="film in films" class="item{{$index==0? 'active':''}}">
                        <div ng-repeat="film in films" class="item {{$index==0? 'active':''}}">
                            <img ng-src="{{film.photo}}" alt="photograph">
                        </div>
                    </div> -->
                    <!-- Controls 
                    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                        <span>
                            <i class="fa fa-chevron-left"></i>
                        </span>
                    </a>
                    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                        <span>
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </header>-->
    </div>
    <div class="backgr-section">
        <section class="container">
            <div ng-controller="FilmController"
                class="row">
                <div class="wraper-img">
                    <div ng-repeat="film in films" class="col-sm-3">
                        <!--<h1>{{film.title +" ("+film.duration+"min.)"}}</h1>-->
                        <h2>{{film.title}} ( {{film.duration}}min. ) ( {{film.rating.value}}/10)</h2>
                        <img class="img-thumbnail" ng-src="{{film.thumbnail}}" />

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
